@import './variables.scss';

.action-box {
  background-color: $light;
  border: 1px solid $yellow;
  box-shadow: 0 0 10px 2px rgba(black, .5);
  border-radius: .25em;
  padding: .5em;
  padding-bottom: 0;
  z-index: 2;

  position: absolute;

  .action-box-header {
    margin-bottom: .75em;

    .action-box-header-title {
      color: $yellow;
    }

    button {
      float: right;
      height: 1.25em;
      width: 1.25em;
      padding: 0;
    }
  }
}
