@import './variables.scss';

#canvas {
  background-color: transparent;
  line-height: 0;

  position: absolute;
  top: 50%;
  left: 50%;

  border-top: 1px solid $lighter;
  border-left: 1px solid $lighter;
}
