@import './variables.scss';

#color-palette {
  background-color: $darker;

  border: 1px solid $yellow;
  box-shadow: 0 0 10px 2px rgba(black, .5);
  z-index: 1;

  display: inline-block;

  padding: .5em;
  border-radius: .25em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 4em;
  line-height: 0;
}
