@import './variables.scss';

#picture-element-editor-header {
  background-color: $darker;
  border-bottom: 1px solid $yellow;

  height: 4em;
  padding: .5em;

  z-index: 2;

  .full-button {
    width: 3.5em;
    height: 4em;

    margin-left: .5em;
    float: left;

    padding: .25em;

    span {
      display: block;
    }

    svg {
      font-size: 2em;
    }
  }

  img {
    float: left;
    height: 4em;
    margin-right: .5em;
  }
}
