@import './variables.scss';

#zoom-buttons {
  display: inline-block;
  color: $yellow;
  width: 5.5em;
  margin-left: 0.5em;

  span {
    display: block;
    text-align: center;
    height: 1.5em;
  }

  button {
    height: 2.5em;
    width: 2.5em;

    &:last-child {
      margin-left: 0.5em;
    }
  }
}

